$base-font
  font-family 'Roboto', sans-serif
$condensed-font
  font-family 'Roboto Condensed', sans-serif
  font-weight 700
$slab-font
  font-family 'Roboto Slab', serif

$base-color = #4e4e4e

$clearfix
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

$upper
  text-transform uppercase
