.footer
  background #1C1C1C
  color #cacaca
  font-size .9rem
  .section-title
    color #6c6c6c
    padding-bottom 15px
  .info
    @extend $clearfix
    margin 0 -25px
    padding 50px 0
    line-height 1.5
    p
      margin 0
    .col
      float left
      width 25%
      padding 0 25px
  .copyright
    border-top 2px solid rgba(255, 255, 255, 0.11)
    padding 30px 0 10px
