section.features
  .in
    .features-list
      .feature    
        .icon.icon-light
        h3.feature-title Pellentesque
        p.feature-desc Nulla vitae  libero, a pharetra augue. Integer posuere erat a ante venenatis condimentum velit dapibus.
      .feature  
        .icon.icon-clock
        h3.feature-title Consectetur
        p.feature-desc Vestibulum id ligula porta  euismod semper. Aenean lacinia bibendum nulla sed consectetur dui.
      .feature  
        .icon.icon-chem
        h3.feature-title Tristiquet
        p.feature-desc Fusce dapibus, cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo risus.
      .feature
        .icon.icon-money
        h3.feature-title Fermentum
        p.feature-desc Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum sagittis lacus mollis.
