footer.footer
  .in
    .info
      .col.contact
        h2.section-title Get In Touch
        p.contact-text Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna.
        .icon.icon-location: Moonshine Street No: 14/05<br> Light City, Jupiter
        .icon.icon-phone 0247 541 65 87
        .icon.icon-email support@longwave.com
      .col.twitter
        h2.section-title Twitter
        .twitt Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet.
        .twitt Donec ullamcorper metus auctor fringilla. Nullam quis risus eget.
        .twitt Vestibulum id ligula porta  euismod semper. Maecenas faucibus mollis.
      .col.popular
        h2.section-title Popular Posts
        .post
          p Vivamus sagittis lacus vel augue laoreet rutrum dolor auctor.
          p.date 14 Nov, 2012
        .post
          p Scelerisque nisl consectetur et.
          p.date 22 May, 2012
        .post
          p Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, 
            |tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          p.date 15 July, 2012
      .col.about
        h2.section-title About Us
        p Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, 
          |nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus curabitur blandit tempus.
    .copyright
      p &copy; 2013 Marble. All rights reserved. Theme by elemis.
