header.header
  .in
    .header-logo
      a(href="/") Marbel
    nav.header-nav
      ul
        li.current: a(href="#") Home
        li: a(href="#") About
        li: a(href="#") Journal
        li: a(href="#") Service
        li: a(href="#") Features
        li: a(href="#") Contact
