section.works
  .in
    h2.section-title Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum sagittis lacus mollis.
    .work-list
      .work
        img(src="img/nobis.jpg")
        h3.work-title Nobis Business Card
        p.work-type Business Card, Graphic
        p.work-desc Sed posuere consectetur est at lobortis. Porta sagittis lacus vel augue laoreet rutrum.
      .work
        img(src="img/fun.jpg")
        h3.work-title New Fun Project
        p.work-type Web Design, Application
        p.work-desc Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Vestibulum id ligula porta felis.
      .work
        img(src="img/cover.jpg")
        h3.work-title Passionaries Branding Cover
        p.work-type Branding, Graphic Design
        p.work-desc Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus.
