section.works
  .in
    h2.section-title Our Latest Works
    .works-list
      .work
        div.cover(style="background-image: url('img/nobis.jpg')")
        h3.work-title Nobis Business Card
        p.work-type Business Card, Graphic
        p.work-desc Sed posuere consectetur est at lobortis. Porta sagittis lacus vel augue laoreet rutrum.
      .work
        div.cover(style="background-image: url('img/fun.jpg')")
        h3.work-title New Fun Project
        p.work-type Web Design, Application
        p.work-desc Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Vestibulum id ligula porta felis.
      .work
        div.cover(style="background-image: url('img/cover.jpg')")
        h3.work-title Passionaries Branding Cover
        p.work-type Branding, Graphic Design
        p.work-desc Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus.
