doctype html
html(lang="en")
  head
    title Example
  body
    include _partials/header.jade
    
    section.hero
      .in
        h1.hero-title We are a digital & branding agency based in London.
        p.hero-desc We love to turn great ideas into beautiful products.
        a.btn.btn-primary see Portfolio
        
    include _partials/features.jade
    
    include _partials/works.jade
    
    section.quote
      .in
        .icon
        p.quote-text Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus erat porttitor.
    
    include _partials/footer.jade
          
    
